/projects/GGU/DBA_GenAI/DBA861/PneumoniaDetection/models/*.h5
/projects/GGU/DBA_GenAI/DBA861/PneumoniaDetection/__pycache__/*.pyc

/projects/GGU/DBA_GenAI\DBA861/AutomobilePriceOptimisation/__pycache__/*.pyc
/projects/GGU/DBA_GenAI\DBA861/AutomobilePriceOptimisation/models/*.*
